# binary data
*.wav
*.db
*.3db
*.3DB
*.cmp
*.dfm
*.ale
*.thn
*.sur
*.exe
*.anm
*.txm
*.bmp
*.tga
*.mat
*.MAT
*.mat~tmp1
*.pte
*.sph
*.016
*.256
*.utf
*.vms
*.CMP

# text friendly, but not needed
*.hta
*.htm
*.page
*.window_layout
*.window_settings
IONCROSS/
DLLS/
DATA/AUDIO/
DATA/BASES/
DATA/CHARACTERS/
DATA/COCKPITS/
DATA/FONTS/
DATA/FX/
DATA/RANDOMMISSIONS/
DATA/SCREENS/
DATA/SCRIPTS/
DATA/SOLAR/
*.cfg
*.fl
*.URL
*.xml
*.log
/*.dll
EXE/1033/
EXE/flhook_plugins/
Readme.txt
acctpath_patch.dll
alchemy.dll
ammolimit.dll
bloom.dll
CapitalClassFixes.dll
chklootvol.dll
common.dll
console.dll
dacom.dll
dalib.dll
debuglib.dll
deformable2.dll
DelayDisplay.dll
directplay8.dll
DSAce.dll
DSUpdate.dll
ebueula.dll
engbase.dll
engclass.dll
FalloffMissile.dll
FixedMounts.dll
FLHook.dll
FLHookVC6Strings.dll
flmaterials.dll
gundll.dll
healing.dll
HudShift.dll
imeui.dll
Limiter.dll
luaprofile.dll
moors.dll
movie.dll
MP3codec.dll
MPRep.dll
MultiCruise.dll
MultiIntro.dll
MultiUniverse.dll
MuzzleCone.dll
NoNavMap.dll
numeric.dll
readfile.dll
remoteclient.dll
remoteserver.dll
rendcomp.dll
resources.dll
rp8.dll
rpclocal.dll
server.dll
serverresources.dll
shading.dll
ShieldOffline.dll
shipclass.dll
ShipFilter.dll
ShipRange.dll
soundmanager.dll
soundstreamer.dll
storyfactions.dll
system.dll
Territory.dll
thorn.dll
unicows.dll
WheelScroll.dll
x86math.dll
ximage.dll
zlib.dll
Zone.dll

# lets leave commited
# *.dll
# *.ini
# *.txt

